*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: abhaya;
}

body {
    background-color: #FEF6E4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #001858;
}

.head-line {
    color: #001858;
}

.paragraph {
    color: #172C66;
}

h1 {
    font-size: 45px;
    font-style: bold;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 25px;
}

h5 {
    font-size: 22px;
}

a {
    text-decoration: none;
    color: #001858;
}

@font-face {
    font-family: abhaya;
    src: url("../font/AbhayaLibre-Regular.ttf");
}