.option-btn {
    position: absolute;
    opacity: 0;
    left: 0;
    bottom: 0;
    width: 101.25px;
    height: 35px;
    cursor: pointer;
    display: block;
    z-index: 2;
}

.popUp-block {
    position: relative;
}

.popUp-menu-container {
    position: absolute;
    right: -28px;
    margin-top: 3px;
    border-top: 14px solid transparent;

}

.popUp-arrow {
    position: absolute;
    width: 32.83px;
    height: 20px;
    right: 63px;
    top: -5px;
    z-index: 0;
    background: #F3D2C1;
    transform: rotate(-45deg);
}

.popUp-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #F3D2C1;
    border-radius: 5px;
    z-index: 1;
}

.popUp-line {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 207px;
    height: 64px;
}

.popUp-line a {
    color: #001e1d !important;
    text-decoration: none;
}

.hide {
    display: none;
}

.popUp-btn {
    cursor: pointer;
}

.popUp-btn:hover {
    text-decoration: underline #001858;
    color: #001858;
    text-underline-offset: 6px;
}