main + section {
  margin: 100px 0 0 100px;
}

.dairy-title {
  text-align: center;
  margin-top: 50px;
}

.dairy-container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.dairy-info-container {
  gap: 50px;
  max-width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
/* 
.cards-section {
  background-color: #f3d2c1;
  margin-top: 257px;
}

.main-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.sticky-container {
  position: relative;
  display: block;
  -webkit-box-align: start;
}

.w-clearfix::before,
.w-clearfix::after {
  content: "";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}

.w-clearfix::after {
  clear: both;
}

.text-column-container {
  position: sticky;
  top: 6rem;
  width: 40%;
  margin-right: 7%;
  float: left;
}

.text-column-container h2 {
  color: #001858;
}

.text-column-container h5 {
  color: #172c66;
}

.cards-container {
  width: 50%;
  float: right;
}

.card-container {
  background-color: #001858;
  margin-bottom: 2rem;
  padding: 2.5rem;
  border-radius: 3px;
  color: #fff;
  height: 200px;
} */

.cards-section {
  background-color: #f3d2c1;
  margin-top: 257px;
}

.main-container{
  display: grid;
}